@font-face {
  font-family: "agrandir";
  src: url("../src/assets/fonts/Agrandir-GrandHeavy.otf") format("opentype");
  font-weight: 900;
  font-style: heavy;
}
body {
  margin: 0;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav main.nav-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #FFFFFF;
  border-radius: 18px;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
nav main.nav-container img {
  width: 100px;
}
nav main.nav-container ul {
  display: flex;
  gap: 20px;
}
nav main.nav-container ul li {
  list-style: none;
}
nav main.nav-container ul li a {
  text-decoration: none;
  font-family: "Montserrat";
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}
nav main.nav-container .cart button:nth-child(1) {
  background-color: transparent;
  color: #1E56AC;
  border: none;
}
nav main.nav-container .cart button:nth-child(2) {
  background-color: #1E56AC;
  color: #FFFFFF;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 14px;
  padding: 14px 18px;
  border-radius: 12px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
  background-image: url("../src/assets//images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 0;
  color: #FFFFFF;
  position: relative;
}
@media (min-width: 768px) {
  .hero-container {
    background-position: center;
    background-size: cover;
    align-items: start;
  }
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .hero-container .hero-content {
    padding-left: 50px;
    align-items: start;
  }
}
@media (min-width: 1024px) {
  .hero-container .hero-content {
    padding-left: 100px;
  }
}
.hero-container h1 {
  font-family: "agrandir";
  font-size: 28px;
  margin: 0;
  text-align: center;
  max-width: 300px;
  z-index: 7;
}
@media (min-width: 768px) {
  .hero-container h1 {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .hero-container h1 {
    font-size: 40px;
    max-width: 600px;
  }
}
.hero-container p {
  font-family: "Montserrat";
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  max-width: 300px;
  z-index: 7;
}
@media (min-width: 768px) {
  .hero-container p {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .hero-container p {
    font-size: px;
    max-width: 600px;
  }
}
.hero-container button {
  background-color: #1E56AC;
  color: #FFFFFF;
  font-family: "Montserrat";
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 18px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 7;
}
.hero-container button:focus {
  outline: none;
}
.hero-container button:hover {
  background-color: #174180;
}
.hero-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.hero-container .overlay-white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 51%, rgb(255, 255, 255) 100%);
  z-index: 2;
}

section.booking {
  position: absolute;
  top: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
section.booking .booking-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  padding: 30px 30px;
  overflow: hidden;
}
@media (min-width: 768px) {
  section.booking .booking-container {
    align-items: start;
    border-radius: 20px;
  }
}
@media (min-width: 1024px) {
  section.booking .booking-container {
    align-items: start;
    border-radius: 20px;
    padding: 50px;
    gap: 35px;
  }
}
section.booking .booking-container img.bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.07;
}
section.booking .booking-container h1 {
  font-family: "agrandir";
  font-size: 20px;
  margin: 0;
  text-align: center;
  max-width: 400px;
  z-index: 7;
}
section.booking .booking-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 768px) {
  section.booking .booking-container form {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
section.booking .booking-container form label {
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0;
  text-align: start;
  max-width: 300px;
  font-weight: 600;
  z-index: 7;
}
@media (min-width: 768px) {
  section.booking .booking-container form label {
    font-size: 12px;
  }
}
section.booking .booking-container form .field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
section.booking .booking-container form .field-container div {
  display: flex;
  width: 100%;
  position: relative;
  align-items: start;
  justify-content: center;
  margin-bottom: 10px;
}
section.booking .booking-container form .field-container div input, section.booking .booking-container form .field-container div select {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 14px;
  font-family: "Montserrat";
  font-size: 14px;
  margin: 0;
  padding: 0 20px;
  max-width: 300px;
  z-index: 7;
  background-color: rgb(231, 231, 231);
}
@media (min-width: 768px) {
  section.booking .booking-container form .field-container div input, section.booking .booking-container form .field-container div select {
    width: 150px;
  }
}
section.booking .booking-container form div.button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
section.booking .booking-container form div.button-container button {
  background-color: #1E56AC;
  color: #FFFFFF;
  font-family: "Montserrat";
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 18px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 7;
  margin-top: 17px;
}
section.booking .booking-container form div.button-container button:focus {
  outline: none;
}
section.booking .booking-container form div.button-container button:hover {
  background-color: #174180;
}

section.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 450px;
}
@media (min-width: 768px) {
  section.about {
    margin-top: 250px;
  }
}
section.about .cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
section.about .cards-container .card {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 30px;
  gap: 10px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  section.about .cards-container .card {
    width: 170px;
    gap: 5px;
  }
}
section.about .cards-container .card:nth-child(2) {
  background-color: #1E56AC;
  color: #FFFFFF;
}
section.about .cards-container .card:nth-child(2) button {
  background-color: #FFFFFF;
  color: #1E56AC;
}
section.about .cards-container .card:nth-child(2) button:hover {
  background-color: rgb(224, 224, 224);
}
section.about .cards-container .card img {
  width: 65%;
}
section.about .cards-container .card h1 {
  font-family: "agrandir";
  font-size: 20px;
  margin: 0;
}
section.about .cards-container .card p {
  font-family: "Montserrat";
  font-size: 12px;
  margin: 0;
}
section.about .cards-container .card button {
  background-color: #1E56AC;
  color: #FFFFFF;
  font-family: "Montserrat";
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 18px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 7;
  margin-top: 17px;
}
section.about .cards-container .card button:focus {
  outline: none;
}
section.about .cards-container .card button:hover {
  background-color: #174180;
}

footer {
  background-color: #1E56AC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  font-family: "Montserrat";
  font-size: 12px;
  padding: 0 10px;
}
@media (max-width: 768px) {
  footer {
    font-size: 8px;
    margin-top: 60px;
  }
}
@media (min-width: 768px) {
  footer {
    font-size: 12px;
    padding: 0 40px;
  }
}
footer .social-media {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=index.css.map */