@font-face {
    font-family:'agrandir';
    src: url('../src/assets/fonts/Agrandir-GrandHeavy.otf') format('opentype');
    font-weight: 900;
    font-style: heavy;
}


$primary:#1E56AC;
$secondary:#4D4D4D;
$white:#FFFFFF;
$title:#212121;